<div class="container">
    <div class="row">     
      <header  class="wk-navbar">
        <a class="wk-brand-light right"></a>
        <div class="wk-navbar-container center">         
          <a href="/home" class="white-text left" style="margin-top: 15px;display: flex;align-items: center;"><i class="material-icons valign">home</i>Home</a>
          <a href="/aspect-reports" class="white-text left " style="margin-top: 15px;margin-left: 20px;display: flex;align-items: center;"><i class="material-icons prefix">insert_chart</i>Aspect Reports</a>
          <a href="/maturity-model" class="white-text left " style="margin-top: 15px;margin-left: 20px;display: flex;align-items: center;"><i class="material-icons prefix">insert_chart</i>Maturity Model</a>
          <a href="/surveyjs" class="white-text left " style="margin-top: 15px;margin-left: 20px;display: flex;align-items: center;"><i class="material-icons prefix">insert_chart</i>SurveyJs Demo</a>

          <a (click)="logout()" class="white-text right" style="margin-top: 15px;margin-right: 15px;display: flex;align-items: center;"><i class="material-icons prefix">settings_power</i>LogOut!</a>
        </div>
    
      </header>
    </div>    
  </div>