<div class="col s12 ">
    <div class="row">
        <form #loginForm="ngForm" class="col s12" (ngSubmit)="loginUser(userName.value, password.value)">
          <div class="row">
            <div class="center">
              <i class="material-icons medium">lock</i>
            </div>
            
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input required #userName="ngModel" ngModel name="UserName" type="text" class="input-field validate">
              <label>Username</label>
              <div class="text-danger right" *ngIf="userName.touched && userName.errors?.required">
                Required Field !
              </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input minlength="6" required #password="ngModel" ngModel name="Password"  type="password" class="input-field validate">
              <label>Password</label>
              <div class="text-danger right" *ngIf="password.touched && password.errors?.required">
                Required Field !
              </div>
              <div class="text-danger right" *ngIf="password.touched && password.errors?.minlength">
                Password should be atleast 6 characters long !
              </div>
            </div>
          </div>
          <div class="row input-field col s12 center">
            <button [disabled]="loginForm.invalid" class="btn btn-success center waves-effect waves-light" type="submit">Login              
            </button>
          </div>         
        </form>
        
      </div>
      <div *ngIf="isLoginError" class="row center text-danger">
        <i class="material-icons">error</i>
        Incorrect username or password !
      </div>
</div>
 